* {
    order: 1px dashed blue;
}
div {
	border-radius: 5px;
	display: block;
}

#sub {
    color: purple;
    font-family: cursive;
    font-size: 15px;
}
p {
    color: green;
    font-family: Garamond;
    font-size: 24px;
}
li {
    color: #FF7256;
    font-family: Garamond;
    font-size: 24px;
}
h4 {
    color:#FF7256;
    font-size: 20px; 
    font-family: cursive; 
    font-size: 2em
}
